In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [3]:
ser

0    0.649860
1    0.640622
2    0.022700
3    0.875074
4    0.393805
Name: Column 01, dtype: float64

In [4]:
ser[2]

0.022699937874711584

In [5]:
from pandas_datareader import data as wb

In [6]:
PG = wb.DataReader('PG', data_source='iex', start='2015-1-1')

5y

In [7]:
PG

               open     high      low    close    volume
date
2015-01-02  81.2074  81.3504  80.3849  80.8498   7255494
2015-01-05  80.6620  81.3504  80.3223  80.4654   8626143
2015-01-06  80.7336  80.9571  79.7949  80.0989   7791195
2015-01-07  80.4028  80.7872  80.0654  80.5190   5986899
2015-01-08  80.8855  81.5515  80.5727  81.4398   6831617
2015-01-09  81.5113  81.5113  80.5637  80.6799   4873097
2015-01-12  80.8811  81.0107  80.0139  80.3849   5250893
2015-01-13  81.1537  81.7974  80.2508  80.7246   6730752
2015-01-14  80.2151  80.5995  79.9480  80.4475   6418158
2015-01-15  80.8945  80.9034  79.8664  80.3313   6768180
2015-01-16  80.4117  81.6543  80.3402  81.5739   8815713
2015-01-20  81.5739  82.0566  80.9034  81.5202   9874638
2015-01-21  81.3885  82.0997  80.6952  81.6856   6974533
2015-01-22  81.9647  82.5499  80.9113  82.4868   7211231
2015-01-23  82.0817  82.0997  80.9833  81.1004   6745741
2015-01-26  80.9833  80.9833  79.8939  80.6502   9371693
2015-01-27  78.4174  78.5165  77.4451  77.8682  14417363
2015-01-28  77.9943  78.2464  76.5358  76.6618  14033420
2015-01-29  77.2290  77.5261  76.6618  77.1300  12054601
2015-01-30  76.6078  76.7289  75.8515  75.8875  14685250
2015-02-02  76.1486  76.6528  75.3383  76.6348  10278739
2015-02-03  77.3821  77.4271  76.6348  77.3821  10747897
2015-02-04  77.3280  77.8592  77.0219  77.2380   9212785
2015-02-05  77.6432  78.1293  77.5171  78.0573   6531298
2015-02-06  77.9313  77.9763  76.6618  77.0760   8429773
2015-02-09  76.8059  76.9139  76.1576  76.5718   8811512
2015-02-10  76.8239  77.0399  76.3647  76.8779   7059632
2015-02-11  77.3821  77.6071  76.6572  77.1030   7184577
2015-02-12  77.4811  77.5585  76.8959  77.4541   6074566
2015-02-13  77.4541  77.5621  76.9769  77.3370   6272049
...             ...      ...      ...      ...       ...
2018-05-03  70.8100  71.7200  70.7400  71.3600   9386498
2018-05-04  71.3800  72.6200  71.3400  72.4300   8107363
2018-05-07  72.6700  73.2200  71.8900  71.9800   6633579
2018-05-08  72.0500  72.1200  71.1110  71.4400   8084124
2018-05-09  71.7700  72.5450  71.7400  72.3700   7528359
2018-05-10  72.9400  73.3400  72.6900  73.1500   7618479
2018-05-11  73.6300  74.1000  73.0500  73.3700   7586194
2018-05-14  73.7800  73.7800  73.0900  73.2800   8646856
2018-05-15  73.3100  73.4100  72.6000  72.9500  11502785
2018-05-16  72.9800  73.9300  72.9600  73.5300   8324991
2018-05-17  73.5200  74.0000  73.4000  73.9600   8053611
2018-05-18  73.9800  74.0700  73.1100  73.4500   7042725
2018-05-21  73.7500  74.2500  73.4200  74.0600   6428395
2018-05-22  74.4600  74.9400  73.8300  74.0300   7744169
2018-05-23  74.0200  74.3000  73.7250  74.1800   6592494
2018-05-24  74.0800  74.3500  73.5929  73.7700   6508915
2018-05-25  73.9000  74.6200  73.7500  74.3100   7546467
2018-05-29  74.0600  74.7000  73.7700  74.0500   8905564
2018-05-30  74.3300  75.0150  74.0500  74.8900   8128645
2018-05-31  74.6700  74.6900  72.8000  73.1700  15525987
2018-06-01  73.3300  73.7350  72.8600  73.4500   7209292
2018-06-04  73.5400  74.6200  73.4500  74.1800   8743773
2018-06-05  74.2800  74.3752  73.6000  73.9700   6910144
2018-06-06  74.0700  74.4200  73.7200  74.3500   7002928
2018-06-07  74.1800  76.3939  74.1000  75.7600  13476090
2018-06-08  75.8500  77.2100  75.7400  77.1800  13625346
2018-06-11  76.9700  77.6900  76.8800  77.5300   9049393
2018-06-12  77.8200  77.8900  77.1100  77.2400   8786022
2018-06-13  77.4000  77.4000  76.2000  76.4700   8022397
2018-06-14  76.5600  76.5600  75.7000  75.9900   8895230

[869 rows x 5 columns]