## Calculating Covariance and Correlation

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Consider a portfolio composed of *Walmart* and *Facebook*. Do you expect the returns of these companies to show high or low covariance? Or, could you guess what the correlation would be? Will it be closer to 0 or closer to 1?

Begin by extracting data for Walmart and Facebook from the 1st of January 2014 until today.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [2]:
tickers = ['WMT', 'FB']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='iex', start='2015-1-1')['close']

5y
5y

In [3]:
sec_data.head()

                WMT      FB
date
2015-01-02  77.7970  78.450
2015-01-05  77.5706  77.190
2015-01-06  78.1684  76.150
2015-01-07  80.2424  76.150
2015-01-08  81.9360  78.175

In [4]:
returns = np.log(sec_data / sec_data.shift(1))
returns

                 WMT        FB
date
2015-01-02       NaN       NaN
2015-01-05 -0.002914 -0.016192
2015-01-06  0.007677 -0.013565
2015-01-07  0.026187  0.000000
2015-01-08  0.020886  0.026245
2015-01-09 -0.012458 -0.005580
2015-01-12  0.007471 -0.013207
2015-01-13 -0.007918 -0.003525
2015-01-14 -0.030698 -0.002226
2015-01-15  0.008850 -0.029670
2015-01-16 -0.007005  0.015145
2015-01-20 -0.000923  0.014001
2015-01-21 -0.000577  0.006537
2015-01-22  0.018978  0.011788
2015-01-23  0.002376  0.002315
2015-01-26  0.001355 -0.004314
2015-01-27 -0.012488 -0.022379
2015-01-28 -0.008144  0.006052
2015-01-29  0.010313  0.022823
2015-01-30 -0.031735 -0.027160
2015-02-02  0.008554 -0.012194
2015-02-03  0.005584  0.005453
2015-02-04  0.005323  0.003046
2015-02-05  0.007245 -0.000198
2015-02-06  0.000573 -0.015258
2015-02-09 -0.016394 -0.000403
2015-02-10  0.015935  0.010025
2015-02-11 -0.010943  0.017403
2015-02-12 -0.005225 -0.003666
2015-02-13 -0.000932 -0.006449
...              ...       ...
2018-05-04  0.014964  0.014774
2018-05-07 -0.023816  0.007671
2018-05-08  0.003154  0.005324
2018-05-09 -0.031756  0.020688
2018-05-10  0.001816  0.015590
2018-05-11  0.008310  0.007839
2018-05-14  0.012040 -0.001874
2018-05-15  0.001539 -0.012508
2018-05-16  0.018870 -0.006095
2018-05-17 -0.019225  0.003052
2018-05-18 -0.010111 -0.005895
2018-05-21  0.010348  0.009859
2018-05-22 -0.013581 -0.003747
2018-05-23 -0.004327  0.016726
2018-05-24 -0.001929 -0.005203
2018-05-25 -0.004718 -0.005447
2018-05-29 -0.000728  0.004425
2018-05-30  0.020659  0.010337
2018-05-31 -0.018961  0.021664
2018-06-01  0.005437  0.011458
2018-06-04  0.028860 -0.003667
2018-06-05 -0.009410 -0.001761
2018-06-06 -0.000709 -0.008327
2018-06-07  0.004602 -0.016653
2018-06-08 -0.006969  0.004877
2018-06-11 -0.000711  0.012821
2018-06-12 -0.002375  0.004480
2018-06-13 -0.000119  0.000052
2018-06-14 -0.003574  0.022610
2018-06-15 -0.001075 -0.004890

[870 rows x 2 columns]

Repeat the process we went through in the lecture for these two stocks. How would you explain the difference between their means and their standard deviations?

In [5]:
returns[['WMT', 'FB']].mean() * 250

WMT    0.021040
FB     0.263201
dtype: float64

In [6]:
returns[['WMT', 'FB']].std() * 250 ** 0.5

WMT    0.203668
FB     0.252010
dtype: float64

***

## Covariance and Correlation


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

***

In [7]:
cov_matrix = returns.cov()
cov_matrix

          WMT        FB
WMT  0.000166  0.000036
FB   0.000036  0.000254

In [8]:
cov_matrix_a = returns.cov() * 250
cov_matrix_a

          WMT        FB
WMT  0.041481  0.009076
FB   0.009076  0.063509

***

In [9]:
corr_matrix = returns.corr()
corr_matrix

         WMT       FB
WMT  1.00000  0.17682
FB   0.17682  1.00000

Would you consider investing in such a portfolio?